<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="" >
<h2> Vozvedenie v kvadrat </h2>
Insert the number <br><br>
Number a:<input ng-model="a1">
<br><br>
<button ng-click="sqr = a1 * a1" ng-init="count=0">COUNT</button>
<br><br>
The result is {{sqr}}
<br>
<h2> Umnojenie a na b </h2>
Insert the numbers <br><br>
Number a:<input ng-model="a2">
<br><br>
Number b:<input ng-model="b2">
<br><br>
<button ng-click="count = a2 * b2" ng-init="count=0">COUNT</button>
<br><br>
The result is {{count}}
<br>
<h2> Delenie on 0 </h2>
Insert the numbers <br><br>
Number a:<input ng-model="a">
<br><br>
Number b:<input ng-model="b">
<br><br>
<button ng-click="del = a / b; hide = !hide" >COUNT</button>
<br><br>
<div ng-show="b != 0">
The rezult is &nbsp {{del}} 
</div>
<div ng-show="b == 0">
NE deli na 0!!!
</div> 
</body>
</html>
